@model IEnumerable<Category>
<div>
    <ul class="list-group my-4">
        @foreach (var cat in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-categoryId="@cat.CategoryId">
                    @cat.CategoryName
                </a>
            </li>
        }
    </ul>
</div>